/*------------------------------------------------*/
/*	General Styles
/*------------------------------------------------*/
@font-face {
  font-family: Gotham-Rounded;
  font-weight: normal;
  src: url("../../fonts/GothamHTF-Book.otf"); }
@font-face {
  font-family: Gotham-Rounded;
  font-weight: bold;
  src: url("../../fonts/GothamRnd-Bold.otf"); }
@font-face {
  font-family: Gotham-Rounded;
  font-weight: lighter;
  src: url("../../fonts/GothamHTF-XLight.otf"); }
html, body {
  height: 100%;
  width: 100%;
  font-family: Gotham-Rounded;
  color: #696565;
  font-size: 13px; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

.header-row {
  margin-bottom: 20px; }

.top-divider {
  border-top: 2px solid #cecece;
  margin: 10px -10px 0px -10px; }

.bottom-divider {
  border-top: 2px solid #cecece;
  margin: 0px -10px; }

.modal-content {
  background-color: #ebebeb; }

.modal-content.content {
  padding: 0px; }

/*------------------------------------------------*/
/*  Layout
/*------------------------------------------------*/
#header {
  height: 300px;
  z-index: -10;
  position: absolute;
  top: 0;
  width: 100%;
  background-position-x: 0px;
  background-color: #fff; }

#footer {
  position: fixed;
  z-index: -10;
  bottom: 0px;
  height: 220px;
  width: 100%;
  background-position-x: 0px;
  background-color: #fff; }

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%; }

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  padding-top: 50px; }

@media (min-width: 768px) {
  .site-wrapper-inner {
    vertical-align: middle;
    padding-top: 0px; } }
#content {
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  #content {
    width: 100%; } }
@media (min-width: 992px) {
  #content {
    width: 700px; } }
.site-inner {
  padding: 20px 50px;
  border-radius: 4px;
  border: 1px solid #989898;
  box-shadow: inset 1px 1px 1px 0px white, inset -1px -1px 1px white, inset 0px 0px 15px #CECECE;
  background: -moz-linear-gradient(left, #ebebeb 0%, #ededed 48%, #ebebeb 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ebebeb), color-stop(48%, #ededed), color-stop(100%, #ebebeb));
  background: -webkit-linear-gradient(left, #ebebeb 0%, #ededed 48%, #ebebeb 100%);
  background: -o-linear-gradient(left, #ebebeb 0%, #ededed 48%, #ebebeb 100%);
  background: -ms-linear-gradient(left, #ebebeb 0%, #ededed 48%, #ebebeb 100%);
  background: linear-gradient(left, #ebebeb 0%, #ededed 48%, #ebebeb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ebebeb',GradientType=1 );
  background-color: #ebebeb; }

/*------------------------------------------------*/
/*	UI Elements
/*------------------------------------------------*/
a {
  cursor: pointer; }

a:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 5px auto #595959; }

textarea {
  resize: none; }

textarea,
input {
  font-family: Helvetica, Arial, sans-serif; }

/*------------------------------------------------*/
/*	Buttons
/*------------------------------------------------*/
.btn-xl {
  padding: 11px 22px 4px;
  font-size: 18px; }

.btn-custom {
  color: #042c52;
  text-shadow: -1px 0px 1px #FED865;
  font-weight: bolder;
  border: 1px solid #ff9b03;
  border-radius: 5px;
  box-shadow: 0px 1px 4px gray;
  background-origin: border-box;
  background: #fce89d;
  background: -moz-linear-gradient(top, #fce89d 0%, #ffd351 51%, #ffb735 52%, #ffa10e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fce89d), color-stop(51%, #ffd351), color-stop(52%, #ffb735), color-stop(100%, #ffa10e));
  background: -webkit-linear-gradient(top, #fce89d 0%, #ffd351 51%, #ffb735 52%, #ffa10e 100%);
  background: -o-linear-gradient(top, #fce89d 0%, #ffd351 51%, #ffb735 52%, #ffa10e 100%);
  background: -ms-linear-gradient(top, #fce89d 0%, #ffd351 51%, #ffb735 52%, #ffa10e 100%);
  background: linear-gradient(top, #fce89d 0%, #ffd351 51%, #ffb735 52%, #ffa10e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce89d', endColorstr='#ffa10e',GradientType=0 );
  background-color: #fce89d; }
  .btn-custom :hover,
  .btn-custom :active {
    background: #fdde6f;
    background: -moz-linear-gradient(top, #fdde6f 0%, #ffcb2d 51%, #ffac13 52%, #f09400 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdde6f), color-stop(51%, #ffcb2d), color-stop(52%, #ffac13), color-stop(100%, #f09400));
    background: -webkit-linear-gradient(top, #fdde6f 0%, #ffcb2d 51%, #ffac13 52%, #f09400 100%);
    background: -o-linear-gradient(top, #fdde6f 0%, #ffcb2d 51%, #ffac13 52%, #f09400 100%);
    background: -ms-linear-gradient(top, #fdde6f 0%, #ffcb2d 51%, #ffac13 52%, #f09400 100%);
    background: linear-gradient(top, #fdde6f 0%, #ffcb2d 51%, #ffac13 52%, #f09400 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdde6f', endColorstr='#f09400', GradientType=0);
    box-shadow: 0px 2px 4px gray;
    background-color: #fdde6f; }

.btn-red {
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.49);
  font-weight: bolder;
  border: 1px solid #9e0000;
  border-radius: 5px;
  box-shadow: 0px 1px 4px gray;
  background-origin: border-box;
  background: #fe3838;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fe3838), to(#9e0000));
  background-image: -moz-linear-gradient(top, #fe3838, #9e0000);
  background-image: -ms-linear-gradient(top, #fe3838, #9e0000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe3838), color-stop(100%, #9e0000));
  background-image: -webkit-linear-gradient(top, #fe3838, #9e0000);
  background-image: -o-linear-gradient(top, #fe3838, #9e0000);
  background-image: linear-gradient(#fe3838, #9e0000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fe3838", endColorstr="#9e0000", GradientType=0); }

/*------------------------------------------------*/
/*	Notification
/*------------------------------------------------*/
.message {
  margin-bottom: 10px; }

.message h1 {
  font-weight: bold; }

.message a {
  font-size: 1.25em;
  font-weight: 600;
  margin-top: 5px; }

#notification_content {
  font-size: 1.25em; }

.message-alert {
  border: 3px solid red; }

.message-alert h1 {
  color: red; }

span#notification_content {
  font-size: 1.5em; }

/*------------------------------------------------*/
/*	Start Chat
/*------------------------------------------------*/
h1.logo {
  width: 282px;
  height: 43px;
  margin-left: auto;
  margin-right: auto; }

h2.logo-subtext {
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  color: #053A6B; }

/*------------------------------------------------*/
/*	KB Search
/*------------------------------------------------*/
.kb-search p {
  font-size: 1.25em; }
.kb-search .input-group-btn {
  z-index: 1000; }
.kb-search .search-text {
  font-size: 1.5em; }
.kb-search .search-button {
  margin-left: -10px;
  line-height: 100%;
  padding: 9px 22px 8px 22px;
  font-weight: lighter; }

.search-results-container {
  margin-bottom: 10px;
  margin-top: 10px; }

.search-results-inner {
  margin-bottom: 0px;
  min-height: 200px;
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden; }

#no_kb_search_results {
  color: #053A6B; }

.search-results-list {
  margin-bottom: 0px;
  padding: 9px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }
  .search-results-list li {
    padding: 0 10px 0 0;
    margin: 0 0 10px 0; }

.search-result-link {
  color: #1F587D;
  font-size: 14px;
  font-weight: bold;
  text-align: left; }

/*------------------------------------------------*/
/* Waiting for Staff
/*------------------------------------------------*/
.waiting-time {
  font-size: 1.25em; }

/*------------------------------------------------*/
/* Survey
/*------------------------------------------------*/
.survey_question .form-group {
  padding-bottom: 15px; }

/*------------------------------------------------*/
/* Chat Window
/*------------------------------------------------*/
#message_container {
  margin-bottom: 0px; }

#chat_controls {
  margin: 10px -15px; }

.staff_message {
  color: red; }

.customer_message {
  color: blue; }

.v-rule-divider {
  border: none;
  margin: 0.9px 8px;
  padding: 4px 0px 1px 0px;
  border-left: 1px solid #BCBCBC;
  border-right: 1px solid #EFEFEF;
  position: relative;
  top: 3px; }

.chat-window-inner {
  margin-bottom: 0px;
  padding: 0px;
  border-radius: 0px;
  min-height: 200px;
  max-height: 275px;
  overflow-x: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #e3e3e3;
  border-left: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }

.star-happiness-rating {
  display: inline-block; }

.chat-timer-outer {
  display: inline-block;
  vertical-align: middle;
  float: right; }

.chat-send-button {
  padding-top: 20px; }

#sound_indicator_button {
  height: 16px;
  width: 16px;
  border: none;
  box-shadow: none;
  margin-right: 3px; }

#sound_indicator_button:focus {
  outline: none; }

.sound_on {
  background: url(/img/soundicon_sprite.png) -16px 0px no-repeat transparent; }

.sound_off {
  background: url(/img/soundicon_sprite.png) 0px 0px no-repeat transparent; }

/*------------------------------------------------*/
/*	Printable Chat
/*------------------------------------------------*/
.message_time {
  float: left;
  padding-right: 3px; }

/*
.message_time:before {
	content: '(';
}
.message_time:after {
	content: ') ';
}
*/
.message_sender {
  padding-right: 4px; }

.chat_message.staff .message_sender {
  color: red; }

.chat_message.customer .message_sender {
  color: blue; }

/*# sourceMappingURL=main.css.map */
