/*------------------------------------------------*/
/*	Start Chat
/*------------------------------------------------*/
h1.logo {
  width: 282px;
  height: 43px;
  margin-left: auto;
  margin-right: auto;
}

h2.logo-subtext {
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  color: $body-accent-color;
}
