<div class="modal" data-backdrop="static" id="end_chat_modal" tabindex="-1" role="dialog"
    aria-labelledby="end_chat_modal_label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="close_button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="end_chat_modal_label">End Chat?</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p>Are you sure you want to close this chat?</p>
                        <p>After closing the session you will be able to rate your experince</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="end_chat_now_button" class="btn-xl btn-custom">End Chat</button>
                <button type="button" id="keep_chatting_button" data-dismiss="modal" class="btn-xl btn-custom">Keep Chatting</button>
            </div>
        </div>
    </div>
</div>
