<div class="site-inner container-fluid message message-alert" id="notification">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Important System Notice</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span id="notification_content"></span>
        </div>
    </div>
    <div class="row hidden">
        <div class="col-md-12 text-center">
            <a id="notification_url" href="" target="_blank">Click for more information</a>
        </div>
    </div>
</div>
