<div class="site-inner container-fluid" id="start_chat">
    <div class="row">
        <div class="col-md-12">
            <h1 class="logo text-center"><%= brand.get('name') %></h1>
        </div>
        <div class="col-md-12 text-center">
            <h2 class="logo-subtext">Live Chat System</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="customer_name" class="col-sm-3 control-label">Your Name:</label>
                    <div class="col-sm-9">
                        <input name="customer_name" id="customer_name" class="form-control" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="department" class="col-sm-3 control-label">Department:</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="department" id="department">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="language" class="col-sm-3 control-label">Language:</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="language" id="language">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="domain" class="col-sm-3 control-label">Your Domain:</label>
                    <div class="col-sm-9">
                        <input name="domain" id="domain" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-6 control-label">Are you an existing customer?</label>
                    <div class="col-sm-6">
                        <label for="existing_customer_yes" class="radio-inline">
                            <input type="radio" name="existing_customer" id="existing_customer_yes" value="1"/> Yes
                        </label>
                        <label for="existing_customer_no" class="radio-inline">
                            <input type="radio" name="existing_customer" id="existing_customer_no" value="0"/> No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label">What would you like to discuss?</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <textarea class="form-control" name='initial_question' id="initial_question" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="center-block btn-xl btn-custom" id="continue_button">Continue</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
